@use '@/styles/utils/index' as *;
@use '@/styles/base/index' as *;
@use '@/styles/components/snsIcon' as *;

.footer {
  padding: 0 1rem;
  width: 100%;
  color: $gray-400;
  font-size: $text-12;
}

.footer_contents {
  @include flexbox(column, nowrap, null, null, $gap: $spacing-16);
  border-top: 1px solid $brand-dark-2;
}

.footer_util {
  @include flexbox(column, nowrap, null, null, $gap: $spacing-4);
  margin-top: $spacing-8;
}

.SNS {
  @include flexbox(row, nowrap, null, flex-start, $gap: $spacing-8);
}

.youtube {
  padding: $spacing-10;
}

.instagram {
  padding: $spacing-8 $spacing-10;
}

.twitter {
  padding: $spacing-10;
}

.facebook {
  padding: $spacing-8 $spacing-16;
}

.copyright_container {
  display: none;
}

.copyright {
  color: $gray-500;
  font-size: $text-12;
  font-weight: 400;
  line-height: $line-160;
}

@include mq(tablet) {
  .footer {
    width: 100%;
    padding: 0 2.5rem 6.25rem;
  }

  .footer_contents {
    gap: $spacing-12;
  }

  .footer_util {
    gap: $spacing-20;
    flex-direction: row;
  }

  .copyright_container {
    display: block;
    font-size: $text-12;
    color: $gray-500;
  }

  .SNS {
    gap: $spacing-8;
  }
}

@include mq(desktop) {
  .footer {
    width: 120rem;
    padding: 0 4.25rem 10.625rem;
  }

  .footer_contents {
    gap: $spacing-24;
  }

  .footer_util {
    gap: $spacing-36;
  }
}
