@use '@/styles/utils/index' as *;

.SNS_icon {
  display: flex;
  width: $spacing-52;
  height: $spacing-52;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background-color: $gray-800;
}
