@use '@/styles/index' as *;

.search {
  display: none;
  position: fixed;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: $white;
  z-index: 9999;
}

.search.is--open {
  display: block;
}

.search__wrapper {
  margin: 0 auto;
  padding: $spacing-20 $spacing-36;
  background-color: $gray-800;
  width: 100%;
}

.search__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-12 0px;
  font-size: $text-16;
  border-bottom: 2px solid $white;
}

.search__bar__input,
.search__bar__input2 {
  width: 100%;
  line-height: $line-150;
  font-weight: 600;
  color: $gray-500;
  background-color: transparent;
}

.search__bar__input2 {
  display: none;
}

.search__bar__input,
.search__bar__input2:focus {
  outline: none;
}

.search__bar__input:focus::placeholder {
  color: $gray-500;
}

.search__icon__button {
  background-color: transparent;
}

.search__icon {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.search__list__container {
  margin-top: 40px;
}

.recent__search {
  display: none;

  h2 {
    font-size: $text-21;
    font-weight: 600;
    color: $gray-200;
    line-height: $line-150;
  }
  #recent__search__list {
    width: 100%;
    margin-top: 12px;
    padding-right: 72px;
    color: $gray-300;
    font-size: $text-16;
    line-height: $line-160;
  }
}

#recent__delete__button {
  background-color: transparent;
  outline: none;
}

.delete__recent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-12;
}

.delete__icon {
  width: $text-12;
  height: $text-12;
  cursor: pointer;
}

.popular__search {
  h2 {
    font-size: $text-16;
    font-weight: 600;
    color: $gray-200;
    line-height: $line-150;
  }
  .popular__list {
    margin-top: 20px;
    .popular__list__order {
      font-size: $text-12;
      font-weight: 600;
      line-height: $line-150;
      color: $gray-300;
      padding-bottom: 9px;
      cursor: pointer;
      span {
        color: $brand-red-3;
        padding-right: 5px;
      }
    }
  }
}

.date {
  font-size: $text-12;
  color: $gray-500;
  line-height: $line-140;
  margin-top: $spacing-16;
}

@include mq(tablet) {
  .search {
    top: 56px;
  }

  .search__bar__input {
    display: none;
  }

  .search__bar__input2 {
    display: block;
    font-size: $text-21;
  }

  .search__icon {
    width: $text-28;
    height: $text-28;
  }

  .search__list__container {
    margin-top: $spacing-48;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .recent__search {
    width: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .popular__search {
    width: 100%;
    border-left: 1px solid $gray-700;
    padding-left: 72px;
    h2 {
      font-size: $text-21;
    }
    .popular__list {
      .popular__list__order {
        font-size: $text-16;
      }
    }
  }

  .date {
    font-size: $text-16;
  }
}

@include mq(desktop) {
  .search {
    top: 100px;
  }

  .search__bar__input {
    display: none;
  }

  .search__bar__input2 {
    font-size: $text-37;
  }

  .search__icon {
    width: 58px;
    height: 58px;
  }

  .search__list__container {
    margin-top: 98px;
  }

  .recent__search {
    h2 {
      font-size: $text-28;
    }
    #recent__search__list {
      font-size: $text-21;
      font-weight: 400;
    }
  }

  #recent__delete__button {
    background-color: transparent;
    outline: none;
  }

  .delete__icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  .popular__search {
    margin-right: $spacing-36;
    h2 {
      margin-bottom: $spacing-36;
      font-size: $text-28;
    }
    .popular__list {
      .popular__list__order {
        font-size: $text-21;
        span {
          padding-right: $spacing-14;
        }
      }
    }
  }

  .date {
    font-size: $text-21;
  }
}
