@import '@/styles/index.scss';

:host {
  @include size(100%, 100%);
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;

  &.active {
    display: block;
  }
}

.loading {
  @include size(100%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.loading_wrapper {
  @include flexbox(column, nowrap, center, center, $spacing-16);
  @include size(100%, 50%);
  margin: 0 auto;

  h2 {
    color: $white;
  }

  .loading_inner {
    @include size($spacing-28, $spacing-28);
    border: 3px solid $gray-500;
    border-top-color: white;
    border-radius: 100%;
  }
}
