@import '@/styles/index.scss';

.loading {
  @include size(100%, 100%);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.active {
  display: block;

  .loading_inner {
    animation: spin 2000ms ease-in-out infinite;
  }
}

.loading_wrapper {
  @include flexbox(column, nowrap, center, center, $spacing-16);
  @include size(100%, 50%);
  margin: 0 auto;

  h2 {
    color: $white;
  }

  .loading_inner {
    @include size($spacing-28, $spacing-28);
    border: 3px solid $gray-500;
    border-top-color: white;
    border-radius: 100%;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
