@use '@/styles/index' as *;

body {
  // @include flexbox(column, nowrap, null, center, null);
  background-color: $black;
}

.main {
  width: 100%;
  min-width: 320px;
}

.section0 {
  @include flexbox(column, nowrap, center, center, null);
  width: 100%;

  .container {
    @include flexbox(column, nowrap, center, center, null);
    width: 222px;
    padding: calc(80px + 38px) 0 130px;
  }

  .container__header {
    width: 100%;
    text-align: center;
    font-size: $text-16;
    font-weight: 700;
    line-height: $line-140;
    color: $white;

    .header__text {
      display: block;
    }
  }

  .container__message {
    white-space: nowrap;
    margin: 0 0 $spacing-16;
    text-align: center;
    font-size: $text-12;
    line-height: $line-160;
    color: $gray-400;
  }

  .login__move {
    @include flexbox(row, nowrap, null, null, null);
    width: 188px;
    height: 34px;
    border-radius: 4px;
    padding: 0 16px 0 8px;
    background-color: $brand-red-2;
  }

  .button__icon {
    width: 22px;
    height: 26px;
  }

  .button__message {
    @include flexbox(row, nowrap, null, center, null);
    color: $white;
    font-size: $text-12;
    font-weight: 400;
    line-height: $line-150;
  }

  .section0__background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    img {
    width: 100%;
    min-height: 382px;
    // max-height: 400px;
    object-fit: cover;
    }
  }
}

@include mq(tablet) {
  .section0 {

    .container {
      width: 283px;
      padding: 155px 0 183px;
    }

    .container__header {
      font-size: $text-21;
    }

    .container__message {
      margin: $spacing-8 0 $spacing-28;
      font-size: $text-12;
    }

    .login__move {
      @include flexbox(row, nowrap, center, null, $spacing-10);
      width: 283px;
      height: 48px;
      padding: 0 44px 0 10px;
    }

    .button__icon {
      width: 31px;
      height: 36px;
    }

    .button__message {
      font-size: $text-16;
    }
  }

  .section0__background {
    width: 100%;
    img {
      max-height: 536px;
    }
  }
}

@include mq(desktop) {
  .section0 {
    height: 1080px;

    .container {
      width: 545px;
      padding: calc(160px + 100px) 0 404px;
    }

    .container__header {
      white-space: nowrap;
      margin: 0 -100% $spacing-16 -100%;
      font-size: $text-50;
    }

    .container__message {
      margin: 0 0 $spacing-60;
      font-size: $text-28;
    }

    .login__move {
      @include flexbox(row, nowrap, center, null, $spacing-20);
      width: 506px;
      height: 80px;
      padding: 0 65px 0 10px;
    }

    .button__icon {
      width: 54px;
      height: 63px;
    }

    .button__message {
      font-size: $text-28;
    }
  }

  .section0__background {
    width: 100%;
    img {
      max-height: 1080px;
    }
  }
}

// 다경
.section1 {
  padding-top: $spacing-48;
  margin: 0 auto;
  width: 320px;
}
.container__message {
  margin-bottom: $spacing-20;
  text-align: center;
  font-family: $base-font-family;
  font-weight: 400;
}

.container__message__header {
  color: $white;
  font-size: $text-21;
  line-height: $line-140;
}
.container__message__wrapper {
  color: $gray-200;
  font-size: $text-12;
  line-height: $line-160;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1__swiper__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section1__swiper1 {
  position: relative;
  left: 0;
  top: 30%;
  width: 100vw;
  overflow: hidden;
  & img {
    border-radius: 4px;
    width: 100%;
  }
}

@include mq(tablet) {
  .section1 {
    padding-top: 40px;
    min-width: 768px;
  }

  .container__message__header {
    font-size: $text-28;
  }
  .container__message__wrapper {
    line-height: $line-150;
  }
  .message__wrapper__text1 {
    font-size: $text-16;
  }
  .message__wrapper__text2 {
    font-size: $text-12;
  }
}

@include mq(desktop) {
  .section1 {
    padding-top: 160px;
    min-width: 1920px;
  }
  .container__message {
    margin-bottom: 40px;
  }
  .container__message__header {
    font-size: 50px;
  }
  .container__message__wrapper {
    line-height: 42px;
  }
  .message__wrapper__text1 {
    font-size: $text-28;
  }
  .message__wrapper__text2 {
    font-size: $text-21;
  }
}

// 승헌
.section2 {
  background-color: $black;
  margin: 0 auto;
  max-width: 100%;

  .container__message {
    text-align: center;
    padding-top: $spacing-48;
    padding-bottom: $spacing-26;

    .container__message__header {
      color: $white;
      font-size: $text-21;
      line-height: $line-140;
      font-weight: 700;
    }

    .container__message__text1 {
      color: $gray-200;
      font-size: $text-12;
      font-weight: 400;
      line-height: $line-160;
    }

    .container__message__text2 {
      display: none;
    }
  }
}

.section2__swiper__wrapper {
  overflow: hidden;

  .swiper-wrapper {
    transition-timing-function: linear !important;
    display: flex;
    width: fit-content;
    gap: 10px;
  }

  .section2__swiper1 {
    .swiper-wrapper {
      animation: loop-left 15s infinite linear;
      // transform: translateX(-50.3%);
      &:hover {
        animation-play-state: paused;
      }
    }
  }

  .section2__swiper2 {
    .swiper-wrapper {
      margin-top: $spacing-12;
      animation: loop-right 15s infinite linear;

      &:hover {
        animation-play-state: paused;
      }
    }
  }
  .swiper-slide {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-slide img {
    border-radius: 4px;
  }
}

@keyframes loop-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50.3%);
  }
}

@keyframes loop-left {
  0% {
    transform: translateX(0);
  }
  100% {
    // transform: translateX(-50.3%);
    transform: translateX(-50.3%);
  }
}

@keyframes loop-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50.3%);
  }
}

@include mq(tablet) {
  .section2 {
    max-width: 100%;

    .container__message {
      text-align: center;
      padding-top: calc($spacing-8 * 10);
      padding-bottom: calc($spacing-8 * 4);

      .container__message__header {
        font-size: $text-28;
      }

      .container__message__text1,
      .container__message__text2 {
        font-size: $text-16;
        line-height: $line-140;
        font-weight: 600;
      }

      .container__message__text2 {
        font-size: $text-12;
      }

      .container__message__text2.hidden {
        display: block;
      }
    }
  }
}

@include mq(desktop) {
  .section2 {
    max-width: 100%;

    .container__message {
      .container__message__header {
        font-size: calc($text-12 * 4);
      }

      .container__message__text1,
      .container__message__text2 {
        font-size: $text-28;
        font-weight: 600;
      }

      .container__message__text2 {
        font-size: $text-21;
        font-weight: 400;
      }
    }
  }
}

// 승수
.main {
  @include flexColumn;
}

// message_title

.section3 {
  @include flexColumn;
  padding: $spacing-52 0;
  gap: $spacing-18;
  color: $gray-200;

  .logo2 {
    width: 83px;
    height: 32px;
  }

  .message__header {
    color: $white;
    text-align: center;
    font-size: $text-12;
    font-weight: 400;
    line-height: $line-140;
  }

  .login__move {
    @include flexbox(row, nowrap, null, null, null);
    width: 188px;
    height: 34px;
    border-radius: 4px;
    padding: 0 16px 0 8px;
    background-color: $brand-red-2;
  }

  .button__icon {
    width: 22px;
    height: 26px;
  }

  .button__message {
    @include flexbox(row, nowrap, null, center, null);
    color: $white;
    font-size: $text-12;
    font-weight: 400;
    line-height: $line-150;
  }
}

@include mq(tablet) {
  .section3 {
    width: 768px;
    padding: 100px 0;
    gap: 14px;

    .logo2 {
      width: 135px;
      height: 52px;
    }

    .message__header {
      font-size: $text-28;
    }

    .login__move {
      @include flexbox(row, nowrap, center, null, $spacing-10);
      width: 283px;
      height: 48px;
      padding: 0 44px 0 10px;
    }

    .button__icon {
      width: 31px;
      height: 36px;
    }

    .button__message {
      font-size: $text-16;
    }
  }
}

@include mq(desktop) {
  .section3 {
    width: 1920px;
    padding: 150px 0;
    gap: $spacing-36;

    .logo2 {
      width: 280px;
      height: 110px;
    }

    .message__header {
      font-size: 50px;
    }

    .login__move {
      @include flexbox(row, nowrap, center, null, $spacing-20);
      width: 506px;
      height: 80px;
      padding: 0 65px 0 10px;
    }

    .button__icon {
      width: 54px;
      height: 63px;
    }

    .button__message {
      font-size: $text-28;
    }
  }
}
