@use '@/styles/index' as *;

body {
  min-width: 20rem;
  background-color: $black;
}

.main {
  padding: 0 $spacing-16;
  font-size: $text-12;
  color: $gray-400;
}

.section_wrapper {
  position: relative;
  z-index: 10;
}

.swiper2,
.swiper3,
.swiper4,
.swiper5,
.swiper6 {
  li {
    cursor: pointer;
    transition: all ease-in 250ms;
  }

  li:hover {
    transform: translateY(-8px);
  }
}

.taing_banner {
  width: 100%;
  aspect-ratio: 1920 / 750;
  margin: 0 auto;
  position: relative;
}

.swiper1 {
  @include size(100%, 100%);
  overflow: hidden;
  border-radius: 0.25rem;

  .swiper-slide {
    @include flexbox(row, nowrap, center, center, null);

    & img {
      @include size(100%, 100%);
      object-fit: cover;
    }
  }

  li {
    cursor: pointer;
  }
}

.autoplaybutton_wrapper {
  input {
    @include size($spacing-16, $spacing-16);
    position: absolute;
    left: $spacing-8;
    bottom: $spacing-8;
    z-index: 20;
    background: url(/image/button_pause.svg) no-repeat 0 0 / contain;
  }

  .paused {
    background-image: url(/image/button_resume.svg);
  }
}

.swiper-arrow {
  --swiper-navigation-color: #898989;
  --swiper-navigation-size: 10px;
}

.swiper-pagination {
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-color: #898989;
}

// 티빙에서 꼭 봐야하는 콘텐츠
.must_watch {
  @include flexbox(column, nowrap, null, null, $spacing-4);
  @include size(100%, 10.75rem);
  margin: $spacing-8 0 $spacing-16 0;
  overflow: hidden;
}

.must_watch_heading {
  font-size: $text-12;
}

.swiper2 {
  @include size(5.75rem, 8.375rem);

  .swiper-wrapper {
    gap: $spacing-8;
  }

  .swiper-slide {
    @include flexbox(column, nowrap, null, null, null);
    font-size: $text-12;
  }

  .swiper-slide img {
    border-radius: 0.25rem;
  }

  h3 {
    display: none;
  }
}

// QUICK VOD
.quick_vod {
  @include flexbox(column, nowrap, null, null, $spacing-4);
  @include size(100%, 9.875rem);
  margin: 0 0 $spacing-16 0;
  overflow: hidden;
}

.quick_vod_heading {
  font-size: $text-12;
}

.swiper3 {
  @include size(9.125rem, 5.125rem);

  .swiper-wrapper {
    gap: $spacing-8;
  }

  .swiper-slide {
    @include flexbox(column, nowrap, null, null, null);

    h3 {
      @include flexbox(column, nowrap, null, null, null);
      margin: $spacing-4 0 0 0;
      font-size: $text-12;
    }
  }

  .swiper-slide img {
    border-radius: 0.25rem;
  }
}

// 실시간 인기 프로그램
.ranking {
  @include flexbox(column, nowrap, null, null, $spacing-4);
  @include size(100%, 12rem);
  margin: 0 0 $spacing-16 0;
  overflow: hidden;
}

.ranking_heading {
  font-size: $text-12;
}

.swiper4 {
  @include size(5.75rem, 8.25rem);

  .swiper-wrapper {
    gap: $spacing-8;
  }

  .swiper-slide {
    @include flexbox(column, nowrap, null, null, null);

    h3 {
      @include flexbox(row, nowrap, end, null, null);
      position: relative;
      font-size: $text-10;
      margin: $spacing-4 0 0 0;

      :nth-child(1) {
        font-size: $text-34;
        color: $white;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      :nth-child(2) {
        height: $spacing-22;
        vertical-align: baseline;
      }
    }
  }

  .swiper-slide img {
    border-radius: 0.25rem;
  }
}

// 인기 LIVE 채널
.live_channel {
  @include flexbox(column, nowrap, null, null, $spacing-4);
  @include size(100%, 10.875rem);
  margin: 0 0 $spacing-16 0;
  overflow: hidden;
}

.live_channel_heading {
  font-size: $text-12;
}

.swiper5 {
  @include size(9.125rem, 5.125rem);

  .swiper-wrapper {
    gap: $spacing-8;
  }

  .swiper-slide {
    @include flexbox(column, nowrap, null, null, null);

    h3 {
      @include flexbox(row, nowrap, null, null, $spacing-8);
      margin: $spacing-4 0 0 0;

      .index {
        font-size: $text-34;
        color: $white;
      }

      .text_wrapper {
        @include flexbox(column, nowrap, null, null, null);
        font-size: $text-12;
      }
    }
  }

  .swiper-slide img {
    border-radius: 0.25rem;
  }
}

// 오직 티빙에만 있어요
.original {
  @include flexbox(column, nowrap, null, null, $spacing-4);
  @include size(100%, 19.75rem);
  margin: 0 0 $spacing-16 0;
  overflow: hidden;
}

.original_heading {
  font-size: $text-12;
}

.swiper6 {
  @include size(8.75rem, 17.375rem);

  .swiper-wrapper {
    gap: $spacing-8;
  }

  .swiper-slide {
    @include flexbox(row, nowrap, null, null, null);
  }

  .swiper-slide img {
    border-radius: 0.25rem;
  }
}

// 이벤트
.event {
  @include flexbox(column, nowrap, null, null, $spacing-4);
  @include size(100%, 5.5rem);
  margin: 0 0 $spacing-16 0;
  overflow: hidden;
}

.event_heading {
  font-size: $text-12;
}

.swiper7 {
  @include size(9.125rem, 3.125rem);

  .swiper-wrapper {
    gap: $spacing-8;
  }

  .swiper-slide {
    @include flexbox(row, nowrap, null, null, null);
  }

  .swiper-slide img {
    border-radius: 0.25rem;
  }
}

// 서브 배너
.sub_banner {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 304 / 30;
  margin: $spacing-16 auto;

  .swiper-slide,
  picture {
    display: block;
    width: 100%;
    max-width: 500px;
  }

  .swiper-slide img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    border-radius: 0.25rem;
  }

  li {
    cursor: pointer;
  }
}

// 공지사항
.notice {
  @include flexbox(flex, row, space-between, center, $spacing-4);
  height: 19px;
  margin: $spacing-40 0 $spacing-12;
  line-height: $line-160;
  color: $gray-200;

  .notice__heading {
    width: 74px;
    height: 19px;
    font-size: $text-12;
    line-height: $line-140;
    color: $gray-500;
  }

  .notice__swiper {
    height: 19px;
    flex-grow: 1;
    overflow: hidden;
  }

  .notice__go {
    display: none;
  }
}

@include mq(tablet) {
  .main {
    padding: 0 $spacing-40;
  }

  // 티빙에서 꼭 봐야하는 콘텐츠

  .must_watch {
    @include size(null, 15.125rem);
    margin: $spacing-30 0 $spacing-28;
    gap: $spacing-8;
  }

  .must_watch_heading {
    font-size: $text-16;
  }

  .swiper2 {
    @include size(8.125rem, 11.875rem);

    h3 {
      display: block;
      margin: $spacing-8 0 0 0;
    }
  }

  // QUICK VOD
  .quick_vod {
    @include size(null, 12.875rem);
    margin: 0 0 $spacing-40 0;
    gap: $spacing-8;
  }

  .quick_vod_heading {
    font-size: $text-16;
  }

  .swiper3 {
    @include size(14rem, 7.875rem);

    .swiper-slide {
      h3 {
        margin: $spacing-8 0 0 0;

        :nth-child(n) {
          height: $spacing-18;
        }
      }
    }
  }

  // 실시간 인기 프로그램
  .ranking {
    @include size(null, 16.25rem);
    gap: $spacing-8;
    margin: 0 0 $spacing-40 0;
  }

  .ranking_heading {
    font-size: $text-16;
  }

  .swiper4 {
    @include size(8.125rem, 11.875rem);

    .swiper-slide {
      h3 {
        height: $spacing-20;
        font-size: $text-12;

        :nth-child(1) {
          font-size: $text-50;
          bottom: -0.75rem;
        }
      }
    }
  }

  // 인기 LIVE 채널
  .live_channel {
    @include size(null, 13.875rem);
    gap: $spacing-8;
    margin: 0 0 $spacing-40 0;
  }

  .live_channel_heading {
    font-size: $text-16;
  }

  .swiper5 {
    @include size(14.125rem, 7.875rem);

    .swiper-slide {
      h3 {
        .index {
          font-size: $text-50;
        }

        .text_wrapper {
          margin: $spacing-8;
        }
      }
    }
  }

  // 오직 티빙에만 있어요
  .original {
    @include size(100%, 24.625rem);
    gap: $spacing-8;
    margin: 0 0 $spacing-40 0;
  }

  .original_heading {
    font-size: $text-16;
  }

  .swiper6 {
    @include size(10.5rem, 21rem);
  }

  // 이벤트
  .event {
    @include size(100%, 8.25rem);
    gap: $spacing-8;
    margin: 0 0 $spacing-40 0;
  }

  .event_heading {
    font-size: $text-16;
  }

  .swiper7 {
    @include size(13.375rem, 4.625rem);
  }

  // SPOTV 이벤트
  .sub_banner {
    max-width: 800px;
    margin: $spacing-28 auto;

    .swiper-slide,
    picture {
      max-width: 800px;
    }

    .swiper-slide img {
      max-width: 800px;
    }
  }

  .swiper-arrow {
    --swiper-navigation-color: #898989;
    --swiper-navigation-size: 25px;
  }

  // 공지사항
  .notice {
    @include flexbox(flex, row, space-between, center, $spacing-20);
    margin: 50px 0 $spacing-16;
    height: 19px;

    .notice__heading {
      width: 42px;
      height: 19px;
      font-size: $text-12;
      line-height: $line-160;
    }

    .notice__swiper {
      height: 19px;
    }

    .notice__go {
      @include flexbox(flex, row, space-between, center, $spacing-16);

      .go__brand,
      .go__affiliate {
        @include flexbox(flex, row, space-between, center, $spacing-16);
      }
    }
  }
}

@include mq(desktop) {
  .main {
    padding: 0 4.25rem;
  }

  // 티빙에서 꼭 봐야하는 콘텐츠
  .must_watch {
    @include size(100, 27.5rem);
    margin: $spacing-36 0 $spacing-48 0;
    gap: $spacing-12;
  }

  .must_watch_heading {
    font-size: $text-28;
  }

  .swiper2 {
    @include size(15rem, 24.125rem);

    .swiper-wrapper {
      gap: $spacing-16;
    }

    h3 {
      font-size: $text-22;
    }
  }

  // QUICK VOD
  .quick_vod {
    @include size(100%, 19.75rem);
    margin: 0 0 $spacing-48 0;
    gap: $spacing-12;
  }

  .quick_vod_heading {
    font-size: $text-28;
  }

  .swiper3 {
    @include size(21.625rem, 12.125rem);

    .swiper-wrapper {
      gap: $spacing-16;
    }

    .swiper-slide {
      h3 {
        margin: 0.5rem 0 0.25rem 0;
        font-size: $text-22;

        :nth-child(n) {
          height: $spacing-32;
        }
      }
    }
  }

  // 실시간 인기 프로그램
  .ranking {
    @include size(100%, 27.5rem);
    gap: $spacing-8;
    margin: 0 0 $spacing-48 0;
  }

  .ranking_heading {
    font-size: $text-28;
  }

  .swiper4 {
    @include size(15rem, 21.625rem);

    .swiper-wrapper {
      gap: $spacing-16;
    }

    .swiper-slide {
      h3 {
        margin: 0.875rem 0 0 0;
        font-size: $text-28;

        :nth-child(1) {
          font-size: $text-75;
          bottom: -$spacing-16;
        }
      }
    }
  }

  // 인기 LIVE 채널
  .live_channel {
    @include size(100%, 21.5625rem);
    gap: $spacing-12;
    margin: 0 0 $spacing-48 0;
  }

  .live_channel_heading {
    font-size: $text-28;
  }

  .swiper5 {
    @include size(21.625rem, 12.125rem);

    .swiper-wrapper {
      gap: $spacing-16;
    }

    .swiper-slide {
      h3 {
        margin: $spacing-4 0 0 0;

        .index {
          font-size: $text-75;
        }

        .text_wrapper {
          margin: $spacing-8;
          font-size: $text-28;
        }
      }
    }
  }

  // 오직 티빙에만 있어요
  .original {
    @include size(100%, 35.625rem);
    gap: $spacing-12;
    margin: 0 0 $spacing-48 0;
  }

  .original_heading {
    font-size: $text-28;
  }

  .swiper6 {
    @include size(17.875rem, 35.625rem);

    .swiper-wrapper {
      gap: $spacing-16;
    }
  }

  // 이벤트
  .event {
    @include size(100%, 10.75rem);
    gap: $spacing-12;
    margin: 0 0 $spacing-48 0;
  }

  .event_heading {
    font-size: $text-28;
  }

  .swiper7 {
    @include size(21.75rem, 7.5rem);

    .swiper-wrapper {
      gap: $spacing-16;
    }
  }

  // SPOTV 이벤트
  .sub_banner {
    max-width: 1800px;
    margin: $spacing-36 auto;

    .swiper-slide,
    picture {
      max-width: 1800px;
    }

    .swiper-slide img {
      max-width: 1800px;
    }
  }

  .autoplaybutton_wrapper {
    input {
      @include size($spacing-32, $spacing-32);

      left: $spacing-16;
      bottom: $spacing-16;
    }
  }

  .swiper-arrow {
    --swiper-navigation-color: #898989;
    --swiper-navigation-size: 50px;
  }

  .swiper-pagination {
    --swiper-pagination-bullet-size: 16px;
    --swiper-pagination-bullet-horizontal-gap: 10px;
  }

  // 공지사항
  .notice {
    height: 34px;
    margin: 130px 0 $spacing-28;
    font-size: $text-21;

    .notice__heading {
      width: 74px;
      height: 34px;
      font-size: $text-21;
      line-height: $line-160;
    }

    .notice__swiper {
      height: 34px;
    }

    .notice__go {
      @include flexbox(flex, row, space-between, center, $spacing-30);
    }
  }
}
