@use '@/styles/index' as *;

.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  border-width: 0;
}

body {
  padding-top: 5rem;
  background-color: $black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__edit__detail__page {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.profile__edit__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-16 $spacing-12;
  border-bottom: 1px solid white;

  .header__left {
    display: flex;
    align-items: center;
    h2 {
      font-size: $text-21;
      color: $gray-500;
    }
    .prev__icon {
      margin-right: 1rem;
      line-height: 20px;
      width: 20px;
      height: 20px;
      background: url('/image/button_arrow.svg');
      transform: rotateY(180deg);
      cursor: pointer;
    }
  }

  button {
    color: $gray-200;
    background-color: transparent;
    cursor: pointer;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $spacing-32;
}

.avatar {
  width: 144px;
  height: 144px;

  // background-color: ;
  margin: $spacing-60 0 $spacing-24 0;
  figcaption {
    display: none;
  }
}

.profileName {
  display: flex;
  flex-direction: column;
  gap: $spacing-12;
  width: 100%;

  .profileName__input {
    padding: $spacing-20 $spacing-14;
    outline: none;
    background-color: $gray-800;
    color: $white;
    border-radius: 4px;
  }

  .input__description {
    color: $gray-600;
    padding: $spacing-16 0;
  }
}

.profile__lock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  span {
    color: $gray-200;
  }
}

.toggleSwitch {
  width: 80px;
  height: 40px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: $gray-500;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: $white;
}

@include mq(tablet) {
  .profile__edit__detail__page {
    width: 768px;
    gap: 24px;
  }
}

@include mq(desktop) {
  .profile__edit__detail__page {
    width: 732px;
    gap: 24px;
  }
}
