@use '@/styles/index' as *;

body {
  background-color: $black;
  color: $gray-200;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// message_title

.message_title {
  display: flex;
  width: 20rem;
  padding: $spacing-52 0;
  flex-direction: column;
  align-items: center;
  gap: $spacing-18;
}

.logo2 {
  width: 83px;
  height: 32px;
}

.message_text {
  color: $white;
  text-align: center;
  font-size: $text-16;
  font-weight: 400;
  line-height: $line-140;
}

.taing_button {
  display: flex;
  position: relative;
  width: 188px;
  height: 34px;
  padding: 0 16px 0 8px;
  align-items: flex-start;
  background-color: $brand-red-2;
}

.icon {
  width: 26px;
  height: 26px;
  padding: 0 1px 0 2px;
  justify-content: center;
  align-items: center;
}

.taing_button_text {
  position: absolute;
  left: 31px;
  top: 10px;
  color: $white;
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  line-height: 150%;
}

@include mq(tablet) {
  .message_title {
    width: 768px;
    padding: 100px 0;
    gap: 14px;
  }

  .logo2 {
    width: 135px;
    height: 52px;
  }

  .message_text {
    font-size: $text-28;
  }

  .taing_button {
    width: 283px;
    height: 48px;
    padding: 0 44px 0 8px;
  }

  .icon {
    width: 36px;
    height: 36px;
  }

  .taing_button_text {
    right: 34px;
    top: 12px;
    font-size: $text-16;
  }
}

@include mq(desktop) {
  .message_title {
    width: 1920px;
    padding: 150px 0;
    gap: $spacing-36;
  }

  .logo2 {
    width: 280px;
    height: 110px;
  }

  .message_text {
    font-size: 50px;
  }

  .taing_button {
    width: 506px;
    height: 80px;
    padding: 8px 64px 8px 8px;
    gap: $spacing-24;
  }

  .icon {
    width: 63px;
    height: 63px;
  }

  .taing_button_text {
    right: 64px;
    top: 19px;
    font-size: $text-28;
  }
}
