@use '@/styles/index' as *;

.scroll-section-2 {
  background-color: $black;
  margin: 0 auto;
  max-width: 320px;
}

// 라인 다시
.message-container {
  text-align: center;
  padding-top: $spacing-48;
  padding-bottom: $spacing-26;
}

.message-title {
  color: $white;
  font-size: $text-21;
  line-height: $line-140;
  font-weight: 700;
}

.message {
  color: $gray-200;
  font-size: $text-12;
  font-weight: 400;
  line-height: $line-160;
}

.message.hidden {
  display: none;
}

.swipers-container {
  // width: 1200px;
  overflow: hidden;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-wrapper.second {
  margin-top: $spacing-12;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: calc($spacing-12 / 2);
}

.swiper-slide img {
  border-radius: 4px;
}

@include mq(tablet) {
  .scroll-section-2 {
    max-width: 768px;
    max-height: 410px;
  }

  .message-title {
    font-size: $text-28;
  }

  .message {
    font-size: $text-16;
    line-height: $line-140;
  }

  .message:last-child {
    font-size: $text-12;
  }

  .message {
    font-weight: 600;
  }

  .message-container {
    text-align: center;
    padding-top: calc($spacing-8 * 10);
    padding-bottom: calc($spacing-8 * 4);
  }
  .message.hidden {
    display: block;
  }
}

@include mq(desktop) {
  .scroll-section-2 {
    max-width: 1920px;
    max-height: 860px;
  }

  .message-title {
    font-size: calc($text-12 * 4);
  }

  .message {
    font-size: $text-28;
    font-weight: 600;
  }

  .message:last-child {
    font-size: $text-21;
    font-weight: 400;
  }
}
