@use '@/styles/index' as *;

body {
  min-width: 320px;
  width: 100%;
  @include flexbox(column, nowrap, null, center, null);
  background-color: green;
}

.section0 {
  @include flexbox(column, nowrap, center, center, null);
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 1) 100%), url(https://yooniverse.pockethost.io/api/files/poster/q1agi9w1i882os5/onboarding_bg_s_8BSHdaE8OO.png) no-repeat center;
  background-size: cover;

  .container {
    @include flexbox(column, nowrap, center, center, null);
    width: 222px;
    padding: calc(80px + 38px) 0 130px;
  }

  .container__header {
    width: 100%;
    text-align: center;
    font-size: $text-16;
    font-weight: 700;
    line-height: $line-140;
    color: $white;

    .header__text {
      display: block;
    }
  }

  .container__message {
    white-space: nowrap;
    margin: 0 0 $spacing-16; 
    text-align: center;
    font-size: $text-12;
    line-height: $line-160;
    color: $gray-400;
  }

  .container__button {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 188px;
    height: 34px;
    padding: 0 16px 0 8px;
    background-color: $brand-red-2;
  }

  .button__icon {
    width: 26px;
    height: 26px;
    padding: 0 1px 0 2px;
  }

  .button__message {
    position: absolute;
    left: 31px;
    top: 10px;
    color: $white;
    text-align: right;
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
  }
}

@include mq(tablet) {
  .section0 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 1) 100%)
    , url(https://yooniverse.pockethost.io/api/files/poster/0miz17ddkeq5egg/onboarding_bg_m_IgPeulahdq.png) no-repeat center;
    background-size: cover;

    .container{
      width: 283px;
      padding: 155px 0 183px;
    }

    .container__header {
      font-size: $text-21;
    }

    .container__message {
      margin: $spacing-8 0 $spacing-28;
      font-size: $text-12;
    }

    .container__button {
      width: 283px;
      height: 48px;
      padding: 0 44px 0 8px;
    }

    .button__icon {
      width: 36px;
      height: 36px;
    }

    .button__message {
      right: 34px;
      top: 12px;
      font-size: $text-16;
    }
  }
}

@include mq(desktop) {
  .section0 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 1) 100%), url(https://yooniverse.pockethost.io/api/files/poster/omaugf19clqumnw/onboarding_bg_l_6PCKVGwXhH.png) no-repeat center;
    background-size: cover;
  
    .container {
      width: 545px;
      padding: calc(160px + 100px) 0 404px;
    }

    .container__header {
      white-space: nowrap;
      margin: 0 -100% $spacing-16 -100%;
      font-size: $text-50;
    }

    .container__message {
      margin: 0 0 $spacing-60;
      font-size: $text-28;
    }

    .container__button {
      width: 506px;
      height: 80px;
      padding: 0 64px 0 8px;
      gap: $spacing-24;
    }

    .button__icon {
      width: 63px;
      height: 63px;
    }

    .button__message {
      right: 64px;
      top: 19px;
      font-size: $text-28;
    }
  }
}