@use '@/styles/index' as *;

.section2 {
  background-color: $black;
  margin: 0 auto;
  max-width: 320px;

  .container__message {
    text-align: center;
    padding-top: $spacing-48;
    padding-bottom: $spacing-26;

    .container__message__header {
      color: $white;
      font-size: $text-21;
      line-height: $line-140;
      font-weight: 700;
    }

    .container__message__text1 {
      color: $gray-200;
      font-size: $text-12;
      font-weight: 400;
      line-height: $line-160;
    }

    .container__message__text2 {
      display: none;
    }
  }
}

.section2__swiper__wrapper {
  overflow: hidden;

  .swiper-wrapper {
    transition-timing-function: linear !important;
  }

  .section2__swiper2 {
    .swiper-wrapper {
      margin-top: $spacing-12;
    }
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-slide img {
    border-radius: 4px;
  }
}

@include mq(tablet) {
  .section2 {
    max-width: 768px;
    max-height: 410px;

    .container__message {
      text-align: center;
      padding-top: calc($spacing-8 * 10);
      padding-bottom: calc($spacing-8 * 4);

      .container__message__header {
        font-size: $text-28;
      }

      .container__message__text1,
      .container__message__text2 {
        font-size: $text-16;
        line-height: $line-140;
        font-weight: 600;
      }

      .container__message__text2 {
        font-size: $text-12;
      }

      .container__message__text2.hidden {
        display: block;
      }
    }
  }
}

@include mq(desktop) {
  .section2 {
    max-width: 1920px;
    max-height: 860px;

    .container__message {
      .container__message__header {
        font-size: calc($text-12 * 4);
      }

      .container__message__text1,
      .container__message__text2 {
        font-size: $text-28;
        font-weight: 600;
      }

      .container__message__text2 {
        font-size: $text-21;
        font-weight: 400;
      }
    }
  }
}
