@use '@/styles/index' as *;

body {
  background-color: $black;
}

.section1 {
  padding-top: $spacing-48;
  margin: 0 auto;
}
.container__message {
  margin-bottom: $spacing-20;
  text-align: center;
  font-family: $base-font-family;
  font-weight: 400;
}

.container__message__header {
  color: $white;
  font-size: $text-21;
  line-height: $line-140;
}
.container__message__wrapper {
  color: $gray-200;
  font-size: $text-12;
  line-height: $line-160;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message_wrapper__text1 {
}
.message_wrapper__text2 {
}
.section1__swiper1 {
  position: relative;
  left: 0;
  top: 30%;
  width: 100vh;

  & img {
    width: 100%;
  }
}

@include mq(tablet) {
  .section1 {
    padding-top: 40px;
  }
  .container__message {
  }
  .container__message__header {
    font-size: $text-28;
  }
  .container__message__wrapper {
    line-height: $line-150;
  }
  .message_wrapper__text1 {
    font-size: $text-16;
  }
  .message_wrapper__text2 {
    font-size: $text-12;
  }

  .section1__swiper1 {
    & img {
    }
  }
}

@include mq(desktop) {
  .section1 {
    padding-top: 160px;
  }
  .container__message {
    margin-bottom: 40px;
  }
  .container__message__header {
    font-size: 50px;
  }
  .container__message__wrapper {
    line-height: 42px;
  }
  .message_wrapper__text1 {
    font-size: $text-28;
  }
  .message_wrapper__text2 {
    font-size: $text-21;
  }

  .section1__swiper1 {
    & img {
    }
  }
}
