@import '@/styles/index.scss';

.popup__container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;

  h2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: $text-12;
    color: $white;
    line-height: $line-160;
    background-color: $black;
    padding: $spacing-12;

    .today,
    .close {
      cursor: pointer;
    }
  }
}

@include mq(tablet) {
  .popup {
    h2 {
      font-size: $text-16;
    }
  }
}
@include mq(desktop) {
  .popup {
    h2 {
      font-size: $text-21;
    }
  }
}
