@use '@/styles/index' as *;
body {
  background-color: $black;
}

.search__main {
  padding: $spacing-20 $spacing-36;
  margin: 0 auto;
  width: 100%;
  color: $white;
  background-color: $gray-800;
}
// 검색 바
.search__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-12 0px;
  font-size: $text-16;
  border-bottom: 2px solid $white;
}
.search__bar__input,
.search__bar__input2 {
  width: 100%;
  line-height: $line-150;
  font-weight: 600;
  color: $gray-500;
  background-color: transparent;
}
.search__bar__input2 {
  display: none;
}
.search__bar__input,
.search__bar__input2:focus {
  outline: none;
}
.search__bar__input:focus::placeholder {
  color: $gray-500;
}
.search__icon__button {
  outline: none;
  background-color: transparent;
}
.search__icon {
  cursor: pointer;
  width: 22px;
  height: 22px;
}
// 최근 검색어, 실시간 인기 검색어
.search__list__container {
  margin-top: 40px;
}
// 최근 검색어
.recent__search {
  display: none;

  h2 {
    font-size: $text-21;
    font-weight: 600;
    color: $gray-200;
    line-height: $line-150;
  }
  #recent__search__list {
    font-size: $text-16;
    color: $gray-300;
    line-height: $line-160;
    margin-top: 12px;
  }
}
#recent__delet__button {
  background-color: transparent;
  outline: none;
}
// 자바스크립트 안 버튼
.delet__recent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-12;
}
.delet__icon {
  width: $text-12;
  height: $text-12;
}
// 실시간 인기 검색어
.popular__search {
  h2 {
    font-size: $text-16;
    font-weight: 600;
    color: $gray-200;
    line-height: $line-150;
  }
  .popular__list {
    margin-top: 20px;
    .popular__list__order {
      font-size: $text-12;
      font-weight: 600;
      line-height: $line-150;
      color: $gray-300;
      padding-bottom: 9px;
      cursor: pointer;
      span {
        color: $brand-red-3;
        padding-right: 5px;
      }
    }
  }
}
// 날짜
.date {
  font-size: $text-12;
  color: $gray-500;
  line-height: $line-140;
  margin-top: $spacing-16;
}
@include mq(tablet) {
  .search__main {
    padding-top: $spacing-28;
    padding-bottom: $spacing-52;
    padding-left: 123px;
    padding-right: 123px;
  }
  // 검색바
  .search__bar__input {
    display: none;
  }
  .search__bar__input2 {
    display: block;
    font-size: $text-21;
  }
  .search__icon {
    width: $text-28;
    height: $text-28;
  }
  //  최근 검색어, 실시간 인기 검색어
  .search__list__container {
    margin-top: $spacing-48;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  // 최근 검섹어
  .recent__search {
    width: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  // 실시간 인기 검색어
  .popular__search {
    width: 100%;
    border-left: 1px solid $gray-700;
    padding-left: 72px;
    h2 {
      font-size: $text-21;
    }
    .popular__list {
      .popular__list__order {
        font-size: $text-16;
      }
    }
  }
  //  날짜
  .date {
    font-size: $text-16;
  }
}

@include mq(desktop) {
  .search__main {
    padding: $spacing-52 220px;
  }
  // 검색 바
  .search__bar__input {
    display: none;
  }
  .search__bar__input2 {
    font-size: $text-37;
  }
  .search__icon {
    width: 58px;
    height: 58px;
  }
  .search__list__container {
    margin-top: 98px;
  }
  // 최근 검색어
  .recent__search {
    h2 {
      font-size: $text-28;
    }
    #recent__search__list {
      font-size: $text-21;
      font-weight: 400;
    }
  }
  #recent__delet__button {
    background-color: transparent;
    outline: none;
  }
  //   자바스크립트 안 버튼
  .delet__icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  // 실시간 인기 검색어
  .popular__search {
    margin-right: $spacing-36;
    h2 {
      margin-bottom: $spacing-36;
      font-size: $text-28;
    }
    .popular__list {
      .popular__list__order {
        font-size: $text-21;
        span {
          padding-right: $spacing-14;
        }
      }
    }
  }
  // 날짜
  .date {
    font-size: $text-21;
  }
}
