@use '@/styles/index' as *;
body {
  background-color: $black;
}

.search__main {
  padding: $spacing-20 $spacing-36;
  margin: 0 auto;
  width: 320px;
  color: $white;
  background-color: $gray-800;
}
.search__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-12 0px;
  font-size: $text-16;
  border-bottom: 2px solid $white;
}
.search__bar__input {
  width: 100%;
  line-height: $line-150;
  font-weight: 600;
  color: $gray-500;

  background-color: transparent;
}
.search__bar__input:focus {
  outline: none;
}
.search__bar__input:focus::placeholder {
  color: $gray-500;
}
.search__icon {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.search__list__container {
  margin-top: 40px;
}
.resent__search {
  display: none;
  h2 {
    font-size: $text-16;
    font-weight: 600;
    color: $gray-200;
    line-height: $line-150;
  }
  p {
    font-size: $text-12;
    color: $gray-300;
    line-height: $line-160;
    margin-top: 12px;
  }
}
.popular__search {
  h2 {
    font-size: $text-16;
    font-weight: 600;
    color: $gray-200;
    line-height: $line-150;
  }
  .popular__list {
    margin-top: 20px;
    .popular__list__order {
      font-size: $text-12;
      font-weight: 600;
      line-height: $line-150;
      color: $gray-300;
      padding-bottom: 9px;
      cursor: pointer;
      span {
        color: $brand-red-3;
        padding-right: 5px;
      }
    }
    .date {
      font-size: $text-12;
      color: $gray-500;
      line-height: $line-140;
      margin-top: $spacing-16;
    }
  }
}

@include mq(tablet) {
  .search__main {
    padding-top: $spacing-28;
    padding-bottom: $spacing-52;
    padding-left: 123px;
    padding-right: 123px;
    min-width: 768px;
  }
  .search__bar__input {
    font-size: $text-21;
  }
  .search__icon {
    width: 28px;
    height: 28px;
  }
  .search__list__container {
    margin-top: $spacing-48;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .resent__search {
    display: block;
  }
  .popular__search {
    border-left: 1px solid $gray-700;
    padding-left: 72px;
  }
}

@include mq(desktop) {
  .search__main {
    min-width: 1920px;
    padding: $spacing-52 220px;
  }
  .search__bar__input {
    font-size: $text-37;
  }
  .search__icon {
    width: 58px;
    height: 58px;
  }
  .search__list__container {
    margin-top: 98px;
  }
  .resent__search {
    h2 {
      font-size: $text-28;
    }
    p {
      font-size: $text-21;
      font-weight: 400;
    }
  }
  .popular__search {
    margin-right: $spacing-36;
    h2 {
      margin-bottom: $spacing-36;
      font-size: $text-28;
    }
    .popular__list {
    }
  }
}
