@use '@/styles/index' as *;

body {
  background-color: $black;
  min-width: 20rem;
}

.main {
  width: 100%;
  font-size: $text-12;
}

.findpw__container {
  margin: 4rem $spacing-48;
}

.findPw__title {
  text-align: center;
  font-size: $text-16;
  color: $gray-200;
  font-weight: 700;
}

.findPw__message {
  width: 100%;
  text-align: left;
  margin-top: $spacing-28;
  line-height: $line-140;
  color: $gray-300;
}

.findPw__content {
  @include flexbox(column, nowrap, null, null, null);
  position: relative;
  width: 100%;
  margin-top: $spacing-16;

  #findPw__id {
    @include size(100%, 2.875rem);
    @include paddingX($spacing-16);
    background-color: $brand-dark-2;
    font-size: $text-12;
    font-family: $base-font-family;
    color: $gray-400;
    border-radius: 0.25rem;
  }

  .button__delete {
    @include size($spacing-16, $spacing-16);
    position: absolute;
    top: $spacing-16;
    right: 0;
    margin: 0 $spacing-14 0 0;
    background-image: url(/icons/stack.svg#delete-fiiled);
    background-color: transparent;
    display: none;
  }

  .is--valid {
    display: block;
  }
}

/* 공통 에러 메세지 */
.error-message {
  display: none;
  color: $brand-red-2;
  font-size: $text-12;
  margin-top: $spacing-4;
}

.is--invalid {
  display: block;
}

.check__email {
  @include size(100%, 2.625rem);
  margin-top: $spacing-20;
  color: $gray-400;
  font-size: $text-12;
  font-family: $base-font-family;
  border-radius: 0.25rem;
  cursor: pointer;
}

@include mq(tablet) {
  .main {
    @include marginX(auto);
    max-width: 62.5rem;
    font-size: $text-16;
  }

  .findpw__container {
    margin: 6rem 10rem;
  }

  .findPw__title {
    font-size: $text-28;
  }

  .findPw__content {
    #findPw__id {
      height: 3.375rem;
      font-size: $text-16;
    }

    .button__delete {
      top: 20px;
    }
  }

  .error-message {
    font-size: $text-16;
  }

  .check__email {
    font-size: $text-16;
    margin-top: $spacing-24;
    height: 3.375rem;
  }
}

@include mq(desktop) {
  .main {
    font-size: 2.375rem;
  }

  .findpw__container {
    min-width: 45.75rem;
    margin: 10rem auto;
    font-size: $text-28;
  }

  .findPw__title {
    font-size: $text-38;
  }

  .findPw__message {
    margin-top: 5rem;
  }

  .findPw__content {
    #findPw__id {
      height: 6rem;
      font-size: $text-28;
    }

    .button__delete {
      @include size($spacing-36, $spacing-36);
      top: 30px;
      margin: 0 $spacing-28 0 0;
      font-size: $text-28;
    }
  }

  .error-message {
    font-size: $text-28;
  }

  .check__email {
    height: 6rem;
    margin-top: $spacing-36;
    font-size: $text-28;
    cursor: pointer;
  }
}
