// Base Font Family
$base-font-family: 'SUIT Variable', sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$brand-red-1: #ff153c;
$brand-red-2: #e93945;
$brand-dark-1: #191919;
$brand-dark-2: #212121;
$gray-100: #e1e1e1;
$gray-200: #c4c4c4;
$gray-300: #a6a6a6;
$gray-400: #898989;
$gray-500: #6b6b6b;
$gray-600: #565656;
$gray-700: #404040;
$gray-800: #2b2b2b;

// Box Size

// Text Size
$text-12: 0.75rem;
$text-16: 1rem;
$text-21: 1.3125rem;
$text-28: 1.75rem;
$text-37: 2.3125rem;
$text-50: 3.125rem;

// Spacing
$spacing-4: 0.25rem;
$spacing-8: 0.5rem;
$spacing-10: 0.625rem;
$spacing-12: 0.75rem;
$spacing-16: 1rem;
$spacing-18: 1.125rem;
$spacing-20: 1.25rem;
$spacing-24: 1.5rem;
$spacing-26: 1.625rem;
$spacing-28: 1.75rem;
$spacing-36: 2.25rem;
$spacing-48: 3rem;
$spacing-52: 3.25rem;
$spacing-60: 3.75rem;
$spacing-82: 5.125rem;

// line-height
$line-140: 1.4;
$line-150: 1.5;
$line-160: 1.6;
