@use '@/styles/index' as *;

body {
  background-color: $black;
  min-width: 20rem;
}

.main {
  width: 100%;
  color: $gray-200;
  font-size: $text-12;
}

.findId_container {
  margin: 4rem $spacing-48;
}

.findId_title {
  text-align: center;
  font-size: $text-16;
  font-weight: 700;
}

.findId_content {
  @include flexbox(column, nowrap, null, null, 0);
  margin-top: $spacing-28;

  h2 {
    font-size: $text-12;
    color: $gray-200;
  }

  p {
    color: $gray-300;
    margin: $spacing-4 0 0 0;
  }

  .findId_label {
    margin-top: $spacing-16;
    position: relative;
  }

  #findId_email {
    @include size(100%, 2.875rem);
    @include paddingX($spacing-16);
    background-color: $brand-dark-2;
    font-size: $text-12;
    font-family: $base-font-family;
    color: $gray-400;
    border-radius: 0.25rem;
  }

  .button_delete {
    width: $spacing-20;
    height: $spacing-20;
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    margin: 0 $spacing-14 0 0;
    background-image: url(/image/button_delete.svg);
    background-color: transparent;
    display: none;
  }

  .is--valid {
    display: block;
  }
}

// 공통 에러 메세지
.error-message {
  display: none;
  color: $brand-red-2;
  font-size: $text-12;
  margin-top: $spacing-4;
}

.is--invalid {
  display: block;
}

// 아이디 찾기 확인 버튼

.check_email_button {
  @include size(100%, 2.625rem);
  margin-top: $spacing-20;
  color: $gray-400;
  font-size: $text-12;
  border-radius: 0.25rem;
  cursor: pointer;
}

.line_border {
  @include flexbox(row, nowrap, center, center, 0);
  @include marginY($spacing-30);
  color: $gray-500;
  width: 100%;
  position: relative;

  p {
    display: block;

    &::before {
      content: '';
      display: block;
      @include size(45%, 0.5px);
      background-color: $gray-700;
      border: none;
      position: absolute;
      left: 0;
      top: 50%;
    }

    &::after {
      content: '';
      display: block;
      @include size(45%, 0.5px);
      background-color: $gray-700;
      border: none;
      position: absolute;
      position: absolute;
      right: 0;
      top: 50%;
    }
  }
}

.findId_sub-content {
  h2 {
    font-size: $text-12;
    color: $gray-200;
  }
  p {
    color: $gray-300;
    margin-top: $spacing-4;
  }

  button {
    @include size(100%, 2.625rem);
    margin-top: $spacing-16;
    border-radius: 0.25rem;
    background-color: $gray-100;
    font-family: $base-font-family;
    font-size: $text-12;
    cursor: pointer;
  }
}

.findId_nav {
  @include marginY($spacing-48);
  @include marginX(auto);
  @include flexbox(row, nowrap, center, center, $spacing-24);
  color: $gray-300;

  .line_divide::before {
    content: '';
    @include size(1px, $spacing-12);
    display: block;
    background-color: $gray-600;
  }
}

@include mq(tablet) {
  .main {
    @include marginX(auto);
    max-width: 62.5rem;
    font-size: $text-16;
  }

  .findId_container {
    margin: 6rem 10rem;
  }

  .findId_title {
    font-size: $text-28;
  }

  .findId_content {
    margin-top: $spacing-24;

    h2 {
      font-size: $text-16;
    }

    #findId_email {
      height: 3.375rem;
      font-size: $text-16;
    }
  }

  .check_email {
    font-size: $text-16;
    margin-top: $spacing-24;
    height: 3.375rem;
  }

  .line_border {
    p {
      font-size: $text-16;
    }
  }

  .findId_sub-content {
    h2 {
      font-size: $text-16;
    }

    button {
      height: 3.375rem;
      font-size: $text-16;
    }
  }

  .findId_nav {
    @include marginY(4rem);
    font-size: $text-16;

    .line_divide::before {
      content: '';
      display: block;
      background-color: $gray-600;
      width: 1px;
      height: 16px;
    }
  }

  .error-message {
    font-size: $text-16;
  }
}

@include mq(desktop) {
  .main {
    font-size: 2.375rem;
  }

  .findId_container {
    min-width: 45.75rem;
    margin: 10rem auto;
  }

  .findId_title {
    font-size: $text-38;
  }

  .findId_content {
    margin-top: 5rem;

    h2 {
      font-size: $text-28;
    }

    #findId_email {
      height: 6rem;
      font-size: $text-28;
    }

    .button_delete {
      width: $spacing-36;
      height: $spacing-36;
      margin: 0 $spacing-28 0 0;
      background-size: 100% 100%;
      font-size: $text-28;
    }
  }

  .check_email_button {
    font-size: $text-28;
    margin-top: $spacing-36;
    height: 6rem;
  }

  .line_border {
    p {
      @include marginY(8rem);
      font-size: $text-28;
    }
  }

  .findId_sub-content {
    h2 {
      font-size: $text-28;
    }

    button {
      height: 6rem;
      margin-top: $spacing-36;
      font-size: $text-28;
    }
  }

  .findId_nav {
    @include marginY(6rem);
    gap: 4rem;
    font-size: $text-28;

    .line_divide::before {
      height: 32px;
    }
  }

  .error-message {
    font-size: $text-28;
  }
}
