@use '@/styles/index' as *;

body {
  min-width: 20rem;
  background-color: $black;
}

.main {
  width: 100%;
  color: $gray-200;
  font-size: $text-12;
}

section {
  @include marginX($spacing-48);
}

button {
  cursor: pointer;
}

.findId_container {
  margin-top: 4rem;
}

.findId_title {
  text-align: center;
  font-size: $text-16;
  font-weight: 700;
}

.findId_content {
  @include flexbox(column, nowrap, null, null, 0);
  margin-top: $spacing-28;

  h3 {
    font-size: $text-12;
    color: $white;

    p {
      margin-top: $spacing-4;
      color: $gray-300;
    }
  }

  .findId_label {
    margin-top: $spacing-16;
    position: relative;
  }

  #findId_email {
    @include size(100%, 2.875rem);
    @include paddingX($spacing-16);
    background-color: $brand-dark-2;
    font-size: $text-12;
    font-family: $base-font-family;
    color: $gray-400;
    border-radius: 0.25rem;
  }

  .findId_wrapper {
    position: relative;
  }

  .button_delete {
    @include size($spacing-16, $spacing-16);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: 0 $spacing-14 0 0;
    background-image: url(/icons/stack.svg#delete-fiiled);
    background-color: transparent;
    display: none;
  }

  .is--valid {
    display: block;
  }
}

// 공통 에러 메세지
.error-message {
  display: none;
  color: $brand-red-2;
  font-size: $text-12;
  margin-top: $spacing-4;
}

.is--invalid {
  display: block;
}

// 아이디 찾기 확인 버튼
.check_email_button {
  @include size(100%, 2.625rem);
  margin-top: $spacing-20;
  color: $gray-400;
  font-size: $text-12;
  border-radius: 0.25rem;
  cursor: pointer;
}

.check_email_button:disabled {
  cursor: not-allowed;
}

.line_border {
  @include flexbox(row, nowrap, center, center, 0);
  @include margin($spacing-30, $spacing-48);
  color: $gray-500;
  position: relative;

  p {
    display: block;

    &::before,
    &::after {
      content: '';
      display: block;
      @include size(45%, 0.5px);
      background-color: $gray-700;
      border: none;
      position: absolute;
      top: 50%;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}

.findId_sub-content {
  h3 {
    font-size: $text-12;
    color: $white;

    p {
      margin-top: $spacing-4;
      color: $gray-300;
    }
  }

  button {
    @include size(100%, 2.625rem);
    margin-top: $spacing-16;
    border-radius: 0.25rem;
    background-color: $gray-100;
    font-family: $base-font-family;
    font-size: $text-12;
    cursor: pointer;
  }
}

.login__search__container {
  @include marginY($spacing-48);
  @include flexbox(row, nowrap, center, center, $spacing-12);
  color: $gray-300;
  font-size: $text-12;

  a:hover {
    color: $white;
  }
}

.line_divide {
  font-size: $text-16;
  color: $gray-600;
}

@include mq(tablet) {
  .main {
    @include marginX(auto);
    max-width: 62.5rem;
    font-size: $text-16;
  }

  section {
    margin: 0 10rem;
  }

  .findId_container {
    margin-top: 6.25rem;
  }

  .findId_title {
    font-size: $text-28;
  }

  .findId_content {
    margin-top: $spacing-24;

    h3 {
      font-size: $text-16;
      color: $white;
    }

    #findId_email {
      height: 3.375rem;
      font-size: $text-16;
    }
  }

  .check_email_button {
    font-size: $text-16;
    margin-top: $spacing-24;
    height: 3.375rem;
  }

  .line_border {
    @include marginY($spacing-36);
    p {
      font-size: $text-16;
    }
  }

  .findId_sub-content {
    h3 {
      font-size: $text-16;
    }

    button {
      height: 3.375rem;
      font-size: $text-16;
    }
  }

  .error-message {
    font-size: $text-16;
  }

  .login__search__container {
    @include marginY(4rem);
    font-size: $text-16;
    gap: $spacing-32;
  }

  .line_divide {
    font-size: $text-22;
  }
}

@include mq(desktop) {
  .main {
    font-size: 2.375rem;
  }

  section {
    min-width: 45.75rem;
    margin: 0 auto;
  }

  .findId_container {
    margin-top: 10.6rem;
  }

  .findId_title {
    font-size: $text-38;
  }

  .findId_content {
    margin-top: 5rem;

    h3 {
      font-size: $text-28;
    }

    #findId_email {
      height: 6rem;
      font-size: $text-28;
    }

    .button_delete {
      @include size($spacing-36, $spacing-36);
      margin: 0 $spacing-28 0 0;
      background-size: 100% 100%;
      font-size: $text-28;
    }
  }

  .check_email_button {
    font-size: $text-28;
    margin-top: $spacing-36;
    height: 6rem;
  }

  .line_border {
    @include marginY(4rem);
    p {
      font-size: $text-28;
    }
  }

  .findId_sub-content {
    h3 {
      font-size: $text-28;
    }

    button {
      height: 6rem;
      margin-top: $spacing-36;
      font-size: $text-28;
    }
  }

  .error-message {
    font-size: $text-28;
  }

  .login__search__container {
    @include marginY(6rem);
    font-size: $text-28;
    gap: $spacing-48;
  }

  .line_divide {
    font-size: $text-34;
  }
}
