@use '@/styles/index' as *;
body {
  min-width: 20rem;
  background-color: $black;
}

.header {
  @include flexbox(row, nowrap, null, center);
  width: 100%;
  height: 38px;
  margin: 0 16px;
  background: transparent;

  .header__logo {
    display: inline-block;
    width: 46px;
    height: 15px;

    .logo1 {
      width: 100%;
      height: 100%;
    }
  }
}

.profile__page {
  width: 100%;
  margin: 2.75rem 0 $spacing-52;
  font-size: $text-12;
}

.header__title__container {
  @include flexbox(column, nowrap, center, center, $gap: $spacing-16);
  padding: $spacing-28 0 $spacing-32;
  color: $white;
  font-size: $text-16;
  font-weight: 700;

  p {
    color: $gray-600;
    font-size: $text-12;
    font-weight: 600;
  }
}

.profile__select__container {
  @include flexbox(column, nowrap, center, center, $gap: $spacing-32);
}

.profile__picture__container {
  @include flexbox(row, wrap, center, center, $gap: $spacing-24);

  .avatar {
    @include flexbox(column, nowrap, null, center, $gap: $spacing-12);
    border-radius: 4px;
    width: 114px;
    font-weight: 400;
    color: $gray-300;
    cursor: pointer;

    .avatar__picture__container {
      display: block;
      width: 114px;
      height: 114px;
      position: relative;

      &:hover,
      &:focus {
        outline: 3px solid $white;
      }
    }

    .avatar__picture {
      width: 100%;
      height: 100%;
    }

    .is--locked::before,
    .is--edit::before {
      @include flexbox(row, nowrap, center, center);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50px;
    }

    .is--locked::before {
      background-image: url('/icons/stack.svg#profile-lock');
    }

    .is--edit::before {
      background-image: url('/icons/stack.svg#profile-pencil');
    }
  }
}

.profile__button__container {
  @include flexbox(row, nowrap, center, center, $gap: $spacing-24);
}

.edit__button,
.add__button {
  width: 135px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid $gray-600;
  background-color: transparent;
  font-size: $text-12;
  font-weight: 600;
  color: $gray-600;
  padding: $spacing-12;
  line-height: 150%;

  &:hover,
  &:focus {
    background-color: $white;
    color: $black;
  }
}

@include mq(tablet) {
  .header {
    height: 56px;
    margin: 0 40px;

    .header__logo {
      width: 77px;
      height: 24px;
    }
  }

  .profile__page {
    @include marginX(auto);
    margin: 0 0 4.375rem;
    font-size: $text-16;
  }

  .header__title__container {
    @include flexbox(column, nowrap, center, center, $gap: $spacing-8);
    padding: 4.625rem 0 $spacing-28;
    font-size: $text-28;

    p {
      font-size: $text-16;
    }
  }

  .profile__select__container {
    @include flexbox(column, nowrap, center, center, $gap: $spacing-32);
  }

  .profile__picture__container {
    @include flexbox(row, wrap, center, center, $gap: $spacing-32);

    .avatar {
      width: 132px;

      .avatar__picture__container {
        width: 132px;
        height: 132px;

        &:hover,
        &:focus {
          outline: 4px solid $white;
        }
      }
    }
  }

  .profile__button__container {
    @include flexbox(row, nowrap, center, center, $gap: $spacing-32);
  }

  .edit__button,
  .add__button {
    width: 156px;
    height: 50px;
    border-radius: 4px;
    font-size: $text-16;
  }
}

@include mq(desktop) {
  .header {
    height: 100px;
    margin: 0 70px;

    .header__logo {
      width: 132px;
      height: 42px;
    }
  }

  .profile__page {
    margin: 0 0 8.75rem;
    font-size: $text-28;
  }

  .header__title__container {
    @include flexbox(column, nowrap, center, center, $gap: $spacing-20);
    padding: 8.125rem 0 2.75rem;
    font-size: 3.125rem;

    p {
      font-size: $text-28;
    }
  }

  .profile__select__container {
    @include flexbox(column, nowrap, center, center, $gap: 4.125rem);
  }

  .profile__picture__container {
    @include flexbox(row, wrap, center, center, $gap: $spacing-52);

    .avatar {
      width: 234px;

      .avatar__picture__container {
        width: 234px;
        height: 234px;

        &:hover,
        &:focus {
          outline: 5px solid $white;
        }
      }
    }

    .is--locked::before,
    .is--edit::before {
      background-size: 60px;
    }
  }

  .profile__button__container {
    @include flexbox(row, nowrap, center, center, $gap: $spacing-52);
  }

  .edit__button,
  .add__button {
    width: 272px;
    height: 86px;
    font-size: $text-28;
  }
}
