@import '@/styles/utils/_index.scss';

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  line-height: 1.15;
  margin: 0;
}

/* 숨김 콘텐츠 */
.sr-only {
  @include a11yHidden;
}
