<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HEADER</title>
  <link rel="stylesheet" href="/src/styles/layout/_header.scss" />
</head>
<body>
  <header class="header">
    <nav class="nav">
      <h1 class="header__logo">
        <a class="header__logo__link" href="/index.html">
          <img class="logo1" src="http://yooniverse.pockethost.io/api/files/icon/996jh1fp64lu2vq/logo_l_MphmumOKiy.svg" alt="타잉" />
        </a>
      </h1>

      <ul class="header__menu">
        <li class="menu__list">
          <a class="list__link__live" href="/">
            <img src="http://yooniverse.pockethost.io/api/files/icon/vsuow0zcx91pfqg/live_default_l_8NVNkMwyE1.svg" alt="라이브 아이콘" />
            <span>실시간</span>
          </a>
        </li>
        <li class="menu__list">
          <a class="list__link__tv" href="/">
            <span>TV프로그램</span>
          </a>
        </li>
        <li class="menu__list">
          <a class="list__link__movie" href="/">
            <span>영화</span>
          </a>
        </li>
        <li class="menu__list">
          <a class="list__link__paramount" href="/">
            <img src="http://yooniverse.pockethost.io/api/files/icon/j6wg5zoak4wtc9v/paramount_default_l_dSYjrp1WcT.svg" alt="파라마운트" />
          </a>
        </li>
      </ul>

      <div class="header__asider">
        <span class="header__icon__search"></span>
        <img class="header__icon__profile" src="http://yooniverse.pockethost.io/api/files/icon/i83gshb0uge1p8p/profile_img_l_Y5H1GQixSN.svg" alt="프로필" />
      </div>

    </nav>
  </header>
</body>
</html>